.footer {
  display: flex;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--bg);
  height: 300px;
  justify-content: center;
  border-top: 1px solid var(--lightgrey);
}

.footer h3 {
  color: var(--blue);
}

.contact p {
  color: var(--grey);
  font-weight: 400;
}

.contact a {
  align-items: center;
  display: flex;
}

.contact li {
  color: var(--grey);
  display: flex;
  align-items: center;
}

.contact i {
  width: 25px;
  color: var(--grey);
}

.links,
.social,
.contact,
.title {
  margin: 3.5rem 2rem;
}

.links a {
  font-size: var(--size5);
  color: var(--grey);
}

.links i {
  color: var(--grey);
  margin-right: 5px;
}

.links ul,
.contact ul,
.social ul,
.title ul {
  list-style: none;
  padding: 0;
}

.title p {
  font-weight: 400;
  width: 50%;
  color: var(--grey);
}

.social ul {
  display: flex;
}

.social i {
  color: var(--grey);
  margin-right: 10px;
  font-size: 2rem;
}

.title a {
  color: var(--grey);
  margin-right: 10px;
  font-size: 10px;
}

@media (max-width: 768px) {
  .footer {
    flex-direction: column;
    height: auto;
  }
  .links,
  .contact {
    margin: 0;
    padding: 0 1.5rem;
  }
  .title {
    margin: 0;
    padding: 2rem 0 0 1.5rem;
  }
  .social {
    margin: 0;
    padding: 0 0 2rem 1.5rem;
  }
  .contact {
    width: auto;
  }
  .title p {
    width: 100%;
  }
  .links ul,
  .contact ul,
  .social ul,
  .title ul {
    margin-top: 5px;
  }
}

@media only screen and (min-width: 1024px) and (max-height: 1366px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1.5) {
  .links,
  .social,
  .contact,
  .title {
    margin: 3rem 1rem;
  }
}

@media only screen and (min-width: 1024px) and (max-height: 1366px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1.5) {
  .links,
  .social,
  .contact,
  .title {
    margin: 3rem 1rem;
  }
  .footer {
    justify-content: space-evenly;
  }
}
