.footer {
  display: flex;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--bg);
  height: 300px;
  justify-content: center;
  border-top: 1px solid var(--lightgrey);
}

.footer h3 {
  color: var(--blue);
}

.links,
.social,
.contact,
.title {
  margin: 3.5rem 2rem;
}

.links a {
  font-size: var(--size5);
  color: var(--grey);
}

.links ul,
.contact ul,
.social ul,
.title ul {
  list-style: none;
  padding: 0;
}

.title p {
  width: 50%;
}

.social ul {
  display: flex;
}

.social i {
  color: var(--grey);
  margin-right: 10px;
  font-size: 1.6rem;
}

@media (max-width: 768px) {
  .footer {
    flex-direction: column;
    height: auto;
  }

  .links,
  .contact {
    margin: 0;
    padding: 0 1rem;
  }
  .title {
    margin: 0;
    padding: 2rem 0 0 1rem;
  }
  .social {
    margin: 0;
    padding: 0 0 2rem 1rem;
  }
}
