.header {
  background-color: var(--white);
  height: 100px;
  width: 100%;
  border-bottom: 1px solid var(--lightgrey);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.overlay {
  flex-direction: column;
  background-color: var(--blue);
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
}

.header li {
  list-style: none;
  margin-right: 3rem;
}

.header ul {
  display: flex;
}

.header a {
  color: var(--blue);
  font-weight: 600;
  font-size: var(--size5);
}

.header a:hover,
.header a:active {
  color: var(--blue);
}

.menu {
  margin-right: 2rem;
}

.menu i {
  cursor: pointer;
  font-size: 1.5rem;
}

@media (max-width: 768px) {
  .header ul {
    display: none;
  }
}
