.logo {
  background-color: transparent;
  width: auto;
  display: flex;
}

.logo a {
  background-color: transparent;
}

.logo img {
  height: 300px;
  margin-bottom: 20px;
  background-color: transparent;
}

@media (max-width: 768px) {
  .logo img {
    width: 300px;
  }
}
