.logo {
  background-color: transparent;
  width: auto;
  display: flex;
}

.logo img {
  width: 450px;
  margin-bottom: 10px;
}

@media (max-width: 768px) {
  .logo img {
    width: 300px;
  }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-device-pixel-ratio: 2) and (device-aspect-ratio: 40/71) {
  .logo img {
    width: 250px;
  }
}
