.logo {
  margin: 0 2rem;
  background-color: transparent;
}

.logo img {
  width: 300px;
  margin-bottom: 10px;
}

@media (max-width: 768px) {
  .logo {
    margin: 0;
  }
  .logo img {
    width: 250px;
  }
}
