.homePage {
  padding: 6rem 1rem;
  position: relative;
  text-align: center;
  margin: auto;
  height: 80vh;
}

.right {
  position: absolute;
  content: "";
  height: 100%;
  width: 400px;
  right: 0;
  top: 10px;
  background-image: url("../../public/images/shape-right.png");
  background-repeat: no-repeat;
  background-position: bottom left;
  background-size: 100%;
}

.left {
  position: absolute;
  content: "";
  height: 100%;
  width: 400px;
  left: 0;
  top: 10px;
  background-image: url("../../public/images/shape-left.png");
  background-repeat: no-repeat;
  background-position: bottom left;
  background-size: 100%;
}

.text {
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.text h1 {
  margin-bottom: 3rem;
  width: 45%;
  font-size: 66px;
}

.text h4 {
  margin-bottom: 0;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 6px;
  color: var(--blue);
}

.text p {
  width: 40%;
  font-size: 20px;
}

.buttons {
  display: flex;
}

@media (max-width: 768px) {
  .homePage {
    height: auto;
    padding: 3rem 1rem var(--padding4) 1rem;
    flex-direction: column;
    background-color: #f3faff;
  }
  .text {
    width: 100%;
    padding: 0;
    text-align: center;
  }
  .text p {
    width: 100%;
  }
  .text h1 {
    width: 100%;
    font-size: var(--size10);
    margin: 2rem 0;
  }
  .buttons {
    justify-content: center;
  }
  .left,
  .right {
    display: none;
  }
}

@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation: portrait) {
  .homePage {
    height: auto;
  }
  .text {
    padding: 0 2rem;
  }
  .buttons {
    justify-content: flex-start;
  }
  .text h1 {
    font-size: var(--size16);
  }
}

@media only screen and (min-width: 1024px) and (max-height: 1366px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1.5) {
  .text h1 {
    width: 80%;
  }
  .text p {
    width: 60%;
  }
  .text {
    padding: 0 2rem;
    margin-right: 0;
  }
  .right {
    width: 200px;
    top: -5rem;
  }
  .left {
    width: 200px;
    top: 5rem;
  }
}

@media only screen and (min-width: 1024px) and (max-height: 1366px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1.5) {
  .homePage {
    height: auto;
    padding: var(--padding4) 1.5rem;
  }
  .text h1 {
    font-size: var(--size16);
  }
  .text p {
    width: 60%;
  }
  .text {
    margin-right: 0rem;
  }
  .right {
    width: 250px;
    top: -5rem;
  }
  .left {
    width: 250px;
    top: 5rem;
  }
}

@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation: landscape) {
  .text h1 {
    width: 60%;
    font-size: var(--size16);
  }
  .text {
    padding: 0 2rem;
  }
  .text p {
    width: 60%;
  }
  .right {
    width: 200px;
    top: -10rem;
  }
  .left {
    width: 250px;
    top: 0rem;
  }
}
