.products {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.border {
  background-image: url("../../public/images/contact.jpg");
  height: auto;
  padding: 7rem 0;
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.border h1 {
  color: white;
}

@media (max-width: 768px) {
  .products {
    padding: 0;
  }
}
