.products {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: var(--padding4) 0;
}

.content {
  padding-top: var(--padding4);
  display: flex;
  flex-wrap: wrap;
  width: 50%;
}

.buttons {
  display: flex;
}

@media (max-width: 768px) {
  .content {
    flex-direction: column;
    width: 90%;
    justify-content: center;
    align-items: center;
    padding: var(--padding2) 0 0 0;
  }
}
