.product img {
  margin-bottom: 1rem;
}

.product {
  width: 350px;
  padding: 0 0rem 4rem 0;
  max-width: 100%;
  margin: 0 5rem;
}

.product p {
  text-align: center;
  font-weight: 400;
}

.product a {
  cursor: pointer;
  font-weight: 700;
  font-size: 14px;
  color: var(--blue);
}

.product i {
  color: var(--blue);
  margin-left: 5px;
  font-size: 14px;
  margin-top: 5px;
}

.product span {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product h3 {
  margin-bottom: var(--size4);
}

.product {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (max-width: 768px) {
  .product {
    width: 100%;
    padding: var(--padding4) 0 0 0;
    margin: 0;
  }
  .product p {
    width: 100%;
  }
  .product h2 {
    text-align: center;
  }
}

@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation: portrait) {
  .product {
    width: 50%;
    padding-left: 1rem;
    padding-right: 1rem;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
  }
}

@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation: landscape) {
  .product {
    width: 50%;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0;
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

@media only screen and (min-width: 1024px) and (max-height: 1366px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1.5) {
  .product {
    width: 50%;
    flex-wrap: wrap;
    margin: 0;
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

@media only screen and (min-width: 1024px) and (max-height: 1366px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1.5) {
}
