.services {
  width: 60%;
  padding: var(--padding4) 0;
  display: flex;
}

.text p {
  width: 90%;
}

.text h2 {
  margin-bottom: var(--size2);
  width: 100%;
  line-height: 2.2rem;
  line-height: 1;
}

.list {
  display: flex;
  align-items: center;
  padding-top: 1rem;
}

.list li {
  padding-bottom: 1rem;
}

.list ul {
  padding-left: 1rem;
}

.buttons {
  display: flex;
}

@media (max-width: 768px) {
  .services {
    flex-direction: column;
    width: 100%;
    padding: var(--padding2) 0 0 0;
  }
  .list li:nth-child(5) {
    padding-bottom: 0;
  }
  .text {
    padding: 0 0 1rem 0;
  }
  .buttons {
    justify-content: center;
  }
}
