.title {
  padding-bottom: var(--padding4);
}

.forWho {
  height: auto;
  background-color: var(--bg);
  padding: var(--padding8) 0 var(--padding4) 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.content {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 768px) {
  .content {
    flex-direction: column;
    width: 100%;
  }
  .forWho {
    padding: var(--padding2) 1.5rem;
  }
  .title {
    padding-bottom: var(--padding2);
  }
}
