.title {
  padding-bottom: var(--padding4);
}

.forWho {
  height: auto;
  background-color: var(--white);
  padding: var(--padding8) 1rem var(--padding4) 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.forWho h4 {
  margin-bottom: 0;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 6px;
  color: black;
  text-align: center;
}

.content {
  width: 1177px;
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 768px) {
  .content {
    flex-direction: column;
    width: 100%;
  }
  .forWho {
    padding: var(--padding4) 1rem 0 1rem;
    text-align: center;
  }
  .title {
    padding-bottom: var(--padding4);
  }
}
