.img {
  display: flex;
  flex-direction: column;
  margin-right: 4rem;
}

.img img {
  object-fit: cover;
  object-position: center;
  width: 450px;
  height: 300px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.img h1 {
  margin-bottom: var(--size8);
}

@media (max-width: 768px) {
  .img {
    margin: 0;
  }
  .img img {
    width: 100%;
  }
}
