.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: var(--padding8) 0 0 0;
}

@media (max-width: 768px) {
  .contact {
    padding: var(--padding2) 1.5rem;
  }
}
