.content {
  width: 60%;
  padding: var(--padding4) 0;
  display: flex;
}

.text p {
  width: 100%;
}

.text h2 {
  margin-bottom: var(--size2);
  width: 100%;
  line-height: 2.2rem;
}

.iconsContent {
  display: flex;
  align-items: center;
  padding-bottom: 1rem;
}

.icons i {
  font-size: 2rem;
  color: var(--blue);
}

.icons {
  padding-top: var(--padding2);
}

.icons span {
  display: flex;
  align-items: center;
  width: 50px;
  height: 50px;
}
