.border h4 {
  margin-bottom: 0;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 6px;
  color: var(--blue);
}

.border h1 {
  margin-bottom: var(--padding4);
}

.border {
  text-align: center;
}

.formWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: var(--padding8) 0 0 0;
  border-radius: 100px 0 0 0;
  margin: auto;
  width: 100%;
}
