.revision {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 0 var(--padding8) 0;
}

.border {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../../public/images/affar.jpg");

  height: auto;
  padding: 8rem 0;
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.title h4 {
  margin-bottom: 0;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 6px;
  color: black;
  text-align: center;
}

.title {
  text-align: center;
  padding-top: var(--padding8);
}

.border h1 {
  color: white;
}

@media (max-width: 768px) {
  .revision {
    padding: 0;
  }
}

@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation: portrait) {
  .revision {
    padding: 0;
  }
}

@media only screen and (min-width: 1024px) and (max-height: 1366px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1.5) {
}

@media only screen and (min-width: 1024px) and (max-height: 1366px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1.5) {
}

@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation: landscape) {
}
