@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Roboto";
  background-color: var(--white);
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

:root {
  --padding2: 2rem;
  --padding4: 5rem;
  --padding8: 7rem;
  --padding3: 3rem;
  --size1: 0.25rem;
  --size2: 0.5rem;
  --size3: 0.75rem;
  --size4: 1rem;
  --size5: 1.1rem;
  --size6: 1.5rem;
  --size8: 2rem;
  --size10: 2.4rem;
  --size12: 3rem;
  --size16: 3.5rem;
  --size18: 4rem;
  --size20: 5rem;
  --size30: 7rem;
  --size40: 10rem;
  --color: #3183ff;
  --grey: #343a40;
  --primary: #000814;
  --lightgrey: #e5e7eb;
  --blue: #0f2137;
  --bg: #f6f6f8;
  --lightblue: #98c1d9;
  --white: #fff;
}

h1 {
  margin: 0;
  padding: 0;
  font-size: var(--size16);
  color: var(--blue);
  line-height: 1;
  font-weight: 500;
  font-family: "Playfair Display", serif;
}

@media (max-width: 768px) {
  h1 {
    font-size: var(--size10);
  }
}

h3 {
  margin: 0;
  padding: 0;
  color: var(--blue);
  font-weight: 500;

  font-size: var(--size6);
  line-height: 1.75rem;
}

h4 {
  color: var(--blue);
  font-weight: 500;

  margin: 0;
  padding: 0;
  font-size: var(--size5);
  line-height: 1.75rem;
}

h2 {
  color: var(--blue);
  font-weight: 500;

  margin: 0;
  padding: 0;
  font-size: 2.2rem;
  line-height: 2rem;
}

@media (max-width: 768px) {
  h2 {
    line-height: 2.5rem;
    font-size: var(--size8);
  }
}

p {
  margin: 0;
  padding: 0;
  font-size: var(--size4);
  color: #343d48;
  line-height: 1.75rem;
}
