.about {
  padding: var(--padding8) 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (max-width: 768px) {
  .about {
    padding: var(--padding2) 1.5rem;
  }
}
