.content {
  padding: var(--padding4) 0 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img {
  width: 25%;
}

.img img {
  width: 90%;
  object-fit: cover;
  object-position: center;
}

.text {
  margin-left: 1rem;
  width: 30%;
}

.text p {
  width: 80%;
}

.text h2 {
  margin-bottom: var(--size4);
}

.buttons {
  display: flex;
}

@media (max-width: 768px) {
  .content {
    flex-direction: column;
    padding: var(--padding2) 0 0 0;
  }
  .text h2 {
    padding-top: 1.5rem;
  }

  .text {
    width: 100%;
    margin: 0;
  }
  .text p {
    width: 100%;
  }
  .img {
    width: 100%;
  }
  .img img {
    height: 250px;
    width: 100%;
  }
}
