.aboutUs {
  height: auto;
  background-color: var(--white);
  padding: 0 0 var(--padding8) 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.content {
  width: 1177px;
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 768px) {
  .content {
    flex-direction: column;
    width: 100%;
  }
  .aboutUs {
    padding: var(--padding4) 1rem var(--padding2) 1rem;
    text-align: center;
  }
}
