.text {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.text h2 {
  margin-bottom: var(--size4);
}

.text p {
  width: 80%;
}

.buttons {
  display: flex;
  flex-direction: row;
}

@media (max-width: 768px) {
  .text h2 {
    margin-top: 1.5rem;
  }
  .buttons {
    justify-content: center;
  }
}
